In [1]:
from zmv_opower_gsheets import ConEdUsage
import pandas as pd

In [2]:
# usage = ConEdUsage()

In [3]:
df_gaps = pd.read_csv('df_gaps_2024_04_30-11_16_40.csv')
df_gaps

,Unnamed: 0,Type,Date,Start,End,Usage,Month,Price/kWh,Cost/15min,Summer?,Period,dt_start,gap,gap_start_dt
0,118387,Electric usage,4/14/2024,20:00,20:15,0.660,Apr 2024,$0.331,$0.22,No,Peak,2024-04-14 20:00:00-04:00,0 days 16:15:00,2024-04-14 04:00:00-04:00
1,118803,Electric usage,4/19/2024,8:00,8:15,1.263,Apr 2024,$0.315,$0.40,No,Peak,2024-04-19 08:00:00-04:00,0 days 04:15:00,2024-04-19 04:00:00-04:00
2,118979,Electric usage,4/21/2024,16:00,16:15,0.129,Apr 2024,$0.315,$0.04,No,Peak,2024-04-21 16:00:00-04:00,0 days 12:15:00,2024-04-21 04:00:00-04:00

In [4]:
new_df = pd.read_csv('df_opower_2024_04_30-11_01_51.csv')
new_df

,Unnamed: 0,start_time,end_time,consumption,type
0,0,2024-04-14 00:00:00-04:00,2024-04-14 00:15:00-04:00,0.342,ELEC
1,1,2024-04-14 00:15:00-04:00,2024-04-14 00:30:00-04:00,0.342,ELEC
2,2,2024-04-14 00:30:00-04:00,2024-04-14 00:45:00-04:00,0.315,ELEC
3,3,2024-04-14 00:45:00-04:00,2024-04-14 01:00:00-04:00,0.309,ELEC
4,4,2024-04-14 01:00:00-04:00,2024-04-14 01:15:00-04:00,0.348,ELEC
...,...,...,...,...,...
555,555,2024-04-22 22:45:00-04:00,2024-04-22 23:00:00-04:00,0.156,ELEC
556,556,2024-04-22 23:00:00-04:00,2024-04-22 23:15:00-04:00,0.174,ELEC
557,557,2024-04-22 23:15:00-04:00,2024-04-22 23:30:00-04:00,0.198,ELEC
558,558,2024-04-22 23:30:00-04:00,2024-04-22 23:45:00-04:00,0.198,ELEC
559,559,2024-04-22 23:45:00-04:00,2024-04-23 00:00:00-04:00,0.174,ELEC